.profile {
  width: 360px;
  margin: 40px auto;
  overflow: hidden;
  text-align: center;

  color: #111111;
  background-color: #ffffff;

  border: 2px solid #111111;
  border-radius: 8px;

  box-shadow: 10px 11px 19px 5px rgba(64, 42, 64, 0.28);
}

.description {
  padding: 40px 0;
}

.avatar {
  width: 140px;
  height: 140px;

  margin-bottom: 12px;

  border-radius: 50%;
}

.name {
  margin-bottom: 8px;

  font-weight: 700;
  font-size: 24px;
}

.tag,
.location {
  margin-bottom: 8px;

  color: #7c7474;
}

.stats {
  display: flex;
  justify-content: center;
  align-items: center;

  list-style: none;

  background-color: #eac645;
}

.stats__item {
  width: calc(100% / 3);

  padding: 20px;

  border-top: 1px solid #111111;
}

.label {
  display: block;
  margin-bottom: 4px;
}

.quantity {
  display: block;
  font-weight: 700;
}
